<h1>sign the fuck IN!</h1>

<%= form_for @conn, Routes.session_path(@conn, :create), fn f -> %>
  <%= text_input f, :username, placeholder: "username" %>
  <%= password_input f, :password, placeholder: "password" %>
  <div">
    <%= submit "login!  just fucking do it!" %>
  </div>
<% end %>
