<h1>register yourself!  do it now!</h1>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      you have lied to us for the last time!  enter your information correctly!
    </div>
  <% end %>

  <%= label f, :username %>
  <%= error_tag f, :username %>
  <%= text_input f, :username %>

  <%= label f, :name %>
  <%= error_tag f, :name %>
  <%= text_input f, :name %>

  <%= label f, :email %>
  <%= error_tag f, :email %>
  <%= text_input f, :email %>

  <%= label f, :password %>
  <%= error_tag f, :password %>
  <%= password_input f, :password %>

  <%= label f, :password_confirmation %>
  <%= error_tag f, :password_confirmation %>
  <%= password_input f, :password_confirmation %>

  <div><%= submit "submit and obey!" %>

<% end %>




<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
